#main{
    width: 93%;
    height: 470px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
#first{
    width: 27%;
    height: auto;
    margin-top: 70px;
    margin-left: 130px;
    
    
    
}
#first>img{
    margin-left: -15px;
    margin-top: -55px;
    width: 100%;
}
#second{
    height: 100%;
    width: 50%;
    margin-right: 70px;
}
#fs{
    height: 40%;
   
    padding-left: 10px;
  
    color: gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#sc{
    height: 12%;
    width: 60%;
    color: gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#comb{
display: flex;
margin-left: -8px;
margin-top: 15px;
    }
 #comb>div{
     margin-left: 10px;
 }
#th{
    height: 48%;
    color: gray;
    padding-left: 15px;
    padding-top: 20px;
     background-color:#E8E8E8 ;
     border-radius:  0px 15px 15px 15PX;
}
#fs>button{
    border-radius: 20px;
    border:1px solid #4fbb90;
    
    color: #4fbb90;
    background-color:#fff ;
    padding: 3px 15px 3px 15px;
   
}
.fa-cart-plus{
    color: #4fbb90; 
}
#fs>button:hover{
    color: white;
    background-color: #4fbb90;
}
#fs>button:hover>.fa-cart-plus{
    color: white;
    background-color: #4fbb90;
}
span{
    font-size: 15px;
}
#sub{
    display: flex;
    margin-top: 15px;
}
#sub>p{
    color: rgb(232, 125, 19);
}
#sub>p+p{
    padding-left: 20px;
    color: gray;
    text-decoration: line-through;
}
h4{
    color: black;
}
#ds{
 
    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;
    
}
#bn{
   
    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;
    
    
}
#inf{
   
    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;
}
@media all and (min-width:577px) and (max-width:768px)
{
   #main{
       width: 100%;
   }
   #first{
       width: 50%;
       margin-left:-8%;
       margin-top: .025%;
   }
   #first>img{
       width: 120%;
     margin-left: 150%;
     margin-top: 2%;
       
   }
   #second{
       width: 200%;
       
    
   }
   #fs{
       width: 100%;
       
   }
  
  
   #fs>h4,#sub,button{
    margin-left: 50%;
   }
   #fs>#comb{
    margin-left:48%;
   }
   #bn,#inf{
       display: none;
   }
  
  #ds{
      margin-left: -.2%;
  }
  .bg-light{
      display: none;
  }
   #bestDeals {
    display: none;
  }
}
@media all and (min-width:250px) and (max-width:576px){
    #bestDeals {
        display: none;
    }
    #main{
        display: block;
    }
    #first{
        width: 40%;
    }
    #first>img{
        margin-left: -.03%;
    }
    #second{
        width: 100%;
        margin-top:.03%;
    }
    #fs>h4,#sub,button{
        margin-left: 4%;
       
    }
    #fs>#comb{
        margin-left: 2%;
    }
    #ds{
        margin-left: -50%;
    }
    #bn,#inf{
        display: none;
    }
    
    .bg-light{
        display: none;
    }
}