#add_main{
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
}
#bill_data{
    /* border: 2px solid red; */
    /* display: flex; */
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:auto;
    
}
#change_add{
    display: flex;
    /* border: 2px solid red; */

}

#add_box{
    /* border: 2px solid red; */
    margin: 10px;
    
}
#add_box2{
    display: flex;
    /* border: 2px solid red; */
    width: fit-content;
    justify-content:space-evenly ;
    /* align-items: center; */
    gap: 10px;
    
}
#add_box3{
    width: 90%;
    margin: 10px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

    

}
#address{
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    
}
#display_add{
    margin:0px ;
    margin-left: 20px;
    /* border: 2px solid red; */
}
#display_add>div>p{
    margin-left: 10px;
    text-transform: capitalize;
}
#address{
    color: aqua;
    font-weight: bolder;
    /* border: 2px solid red; */
}
#display_add{
    /* border: 2px solid red; */
    width: 30%;
    font-weight: bold;
}
@media all and (min-width: 450px) and (max-width: 750px) {

    #add_box3{
        grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
        margin: auto;
    
    }
    /* #display_add {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      width: 60%;
      font-weight: bold;
      flex-wrap: wrap;
      margin: 10px;
     
    }
    #address {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        
            color: aqua;
            font-weight: bolder;
            /* border: 2px solid red; */
            width: 60%;
            margin: 10px;
        
      }
      #bill_data {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        width: 60%;
        margin: 10px;
        
      } */
  }
