#add_main{
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
}
#bill_data{
    /* border: 2px solid red; */
    /* display: flex; */
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:auto;
    
}
#change_add{
    display: flex;
    /* border: 2px solid red; */

}

#add_box{
    /* border: 2px solid red; */
    margin: 10px;
    
}
#add_box2{
    margin-left: 30px;
    display: flex;
    /* border: 2px solid red; */
    width: fit-content;
    justify-content:space-evenly ;
    /* align-items: center; */
    gap: 10px;
    
}
#add_box3{
    border: 2px solid red;
    width: 95%;
    margin: auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 20px;

    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto; 
}
#address{
  
}
#display_add{
    margin:10px auto;
    margin-left: 20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin: 10px;
    border: 2px solid red;
}
#display_add>div>p{
    margin-left: 10px;
    text-transform: capitalize;
}
#address{
    color: aqua;
    font-weight: bolder;
    margin-left: 300px;
    border: 2px solid red;
}
#display_add{
    /* border: 2px solid red; */
    width: 30%;
    font-weight: bold;
}


#h2_tag>h2{
    margin:30px;
}
@media all and (min-width: 150px) and (max-width: 750px) {

    #add_box3{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin: auto;
        gap: 50px;
    }
    #display_add{
        width: 90%;
        margin: auto;
        border: 2px solid red;
        border: 2px solid transparent;
        width: 100%;
    }
    #address{
        width: 50%;
        margin: auto;
        color: aqua;
        font-weight: bolder;
        /* border: 2px solid red; */
    }
    #bill_data{
        width: 100%;
    }
  }
