#cart_page{
    /* border: 2px solid red; */
    height: auto;
    width: auto;

    margin: 10px;
    display: flex;
   
    justify-content: space-between;
    position: static;
}
#cart_page>div{
    /* border: 2px solid red; */
    margin: 10px;
    
}
#transparent{
    display: flex;
    backface-visibility: hidden;
}
#cart_list{
    border: 2px solid rgb(18, 212, 60);
    width: 40%;
    height: auto;
   
}
 #cart_head{
    border: 2px solid rgb(167, 36, 36);
    background-color: white;
    position: sticky;
    top:85px;
    left:820px;
 } 
#cart_buttom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    
    /* position: fixed;
    width: 40%;
    bottom:0px; */
}



@media all and (min-width: 50px) and (max-width: 550px) {

    #cart_page{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        width: 100%;
    }
    #cart_list{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin: auto;
        gap: 30px;
    
    }
    #cart_buttom{
        width: 100%;
        margin: auto;
    }
}

