/* *{margin: 0px;padding: 0px;} */
.aman_cart_section{
    /* border:2px solid red; */
}
#aman_cart_status{
    /* border:2px solid red; */
    height: 100px;
    margin: auto;
}
#aman_sub_cart_section{
    
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 10px;
}
#amancart_part{
    /* border: 2px solid red; */
    /* height: 700px; */
    width: auto;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
#aman_bill_details{
/* border: 2px solid green; */
/* height: 700px; */
width: 100%;
height: fit-content;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 5px;
/* margin: auto; */

}
.price_box:last-child{
    background-color: aqua;
    padding: 10px;
}
.cart_box{
    display: flex;
    /* border: 2px solid red; */
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}
#cuopuan_applied{
border: 2px solid yellow;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 30px;
}
.price_box{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#aman_cart_status{
    /* border: 2px solid rgb(73, 69, 69); */
    display: flex;
    width: 100%;
    background-color: rgb(211, 255, 246);
   
}
#aman_cart_status>div{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
#em{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    text-align: center;
}
#em>div>div{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;

}
@media all and (min-width: 50px) and (max-width: 650px) {

    #aman_sub_cart_section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
    #aman_cart_status{
        /* border: 2px solid rgb(73, 69, 69); */
        display: flex;
        width: auto;
        background-color: rgb(211, 255, 246);
       
    }
    #amancart_part{
        width: 100%;
    }
    
  }
