/* *{margin: 0px;padding: 0px;} */
.aman_cart_section{
    /* border:2px solid red; */
    height: 1000px;

}
#aman_cart_status{
    /* border:2px solid red; */
    height: 100px;
    margin: auto;
}
#aman_sub_cart_section{
    display: flex;
    /* border: 2px solid red; */
    height: 800px;
    margin: 10px;
    
}
#amancart_part{
    /* border: 2px solid red; */
    height: 700px;
    width: 60%;
    margin: auto;

}
#aman_bill_details{
/* border: 2px solid green; */
height: 700px;
width: 35%;
margin: auto;

}
.cart_box{
    display: flex;
    /* border: 2px solid red; */
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}
#cuopuan_applied{
border: 2px solid yellow;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 30px;
}
.price_box{
    display: flex;
    justify-content: space-between;
}
#aman_cart_status{
    /* border: 2px solid rgb(73, 69, 69); */
    display: flex;
    width: auto;
    background-color: rgb(211, 255, 246);
   
}
#aman_cart_status>div{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}


